In [16]:
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
import pandas as pd
import numpy as np

In [17]:
##Read in training data##
data=pd.read_csv('task1_2021.training.csv')
data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,target
0,8.6614,11.6355,9.8681,3.3147,18.3525,2.9205,3.6181,9.6828,13.6864,7.2133,3.0664,3.6915,22.9584
1,8.6674,10.1590,7.7702,9.3127,10.2202,2.7473,5.0069,8.1540,12.2072,8.8397,5.2329,0.7702,14.2073
2,14.2513,9.4210,12.8370,17.6180,5.3756,2.0367,3.6954,8.2452,13.5407,7.5442,10.0756,10.0366,7.7068
3,10.2841,13.6928,15.3227,5.1014,14.7055,3.6691,3.5476,7.0303,10.5766,8.7448,8.8071,0.4493,20.1318
4,12.4329,11.0544,16.6108,11.2272,10.5483,3.2459,3.5793,27.5845,4.1877,20.7496,2.8827,15.1993,18.0751

In [18]:
##Selecting variables##
a=['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','target']
a.remove("target")
features=a
features
lr_xx=data[features].to_numpy()
lr_xx[0:5]

array([[ 8.6614, 11.6355,  9.8681,  3.3147, 18.3525,  2.9205,  3.6181,
         9.6828, 13.6864,  7.2133,  3.0664,  3.6915],
       [ 8.6674, 10.159 ,  7.7702,  9.3127, 10.2202,  2.7473,  5.0069,
         8.154 , 12.2072,  8.8397,  5.2329,  0.7702],
       [14.2513,  9.421 , 12.837 , 17.618 ,  5.3756,  2.0367,  3.6954,
         8.2452, 13.5407,  7.5442, 10.0756, 10.0366],
       [10.2841, 13.6928, 15.3227,  5.1014, 14.7055,  3.6691,  3.5476,
         7.0303, 10.5766,  8.7448,  8.8071,  0.4493],
       [12.4329, 11.0544, 16.6108, 11.2272, 10.5483,  3.2459,  3.5793,
        27.5845,  4.1877, 20.7496,  2.8827, 15.1993]])

In [19]:
##Dependent variable##
lr_yy=data['target']
lr_yy[0:5]

0    22.9584
1    14.2073
2     7.7068
3    20.1318
4    18.0751
Name: target, dtype: float64

In [20]:
##Read in test data##
data2=pd.read_csv('task1_2021.test.csv')
data2.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11
0,14.9606,14.7611,16.3292,11.0859,5.6027,0.1350,5.9805,7.9741,13.1099,8.3380,5.7340,11.1804
1,6.2269,10.8947,8.2681,7.0026,10.1739,2.1899,3.9088,9.4918,12.2896,8.7722,5.5426,16.6575
2,13.9941,14.6198,17.7202,18.8000,2.3651,3.0812,0.6515,9.9025,10.8258,9.5635,8.2433,17.9009
3,8.9694,12.3130,8.7829,17.4456,4.0767,2.5401,0.0930,12.4212,7.0142,20.0382,4.8964,7.0758
4,19.7173,4.3520,20.6748,6.8574,14.6955,3.5535,4.7125,11.2373,12.9231,12.1891,10.4615,11.4359

In [21]:
##Independent variables##
lr_xx_test=data2.to_numpy()
lr_xx_test[0:5]

array([[14.9606, 14.7611, 16.3292, 11.0859,  5.6027,  0.135 ,  5.9805,
         7.9741, 13.1099,  8.338 ,  5.734 , 11.1804],
       [ 6.2269, 10.8947,  8.2681,  7.0026, 10.1739,  2.1899,  3.9088,
         9.4918, 12.2896,  8.7722,  5.5426, 16.6575],
       [13.9941, 14.6198, 17.7202, 18.8   ,  2.3651,  3.0812,  0.6515,
         9.9025, 10.8258,  9.5635,  8.2433, 17.9009],
       [ 8.9694, 12.313 ,  8.7829, 17.4456,  4.0767,  2.5401,  0.093 ,
        12.4212,  7.0142, 20.0382,  4.8964,  7.0758],
       [19.7173,  4.352 , 20.6748,  6.8574, 14.6955,  3.5535,  4.7125,
        11.2373, 12.9231, 12.1891, 10.4615, 11.4359]])

In [22]:
# Building Models##
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(lr_xx, lr_yy)

# Make predictions using the testing set
lr_yy_pred = regr.predict(lr_xx_test)

# The coefficients
print('Coefficients: \n', regr.coef_)

# intercept
print('Intercept: \n', regr.intercept_)

Coefficients:
 [-1.56376700e-01  1.04049407e+00 -3.52685953e-07  5.37344433e-02
  7.25104929e-01 -2.59327579e-01 -4.95903328e-01  5.56186598e-01
  6.14137409e-03 -3.84060516e-01 -1.39497489e-01 -2.70705583e-01]
Intercept:
 -7.537043327232595e-07

In [23]:
##Making output file##
ID=[]
for i in range(2000):
    ID.append(i+1)

predicted=list(lr_yy_pred)

dic={'id':ID , 'Predicted':predicted}
output=pd.DataFrame(dic)
output.to_csv('task1.csv',index=False)